

#fullBanner468x60Ad{
	border:2.1px solid red;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
#leaderboard728x90Ad{
	border:2.1px solid red;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
#mediumRectangle336x280Ad{
	border:2.1px solid red;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
#square250x250Ad{
	border:2.1px solid red;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
#skyscraper160x600Ad{
	border:2.1px solid red;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
#billBoard970x250Ad{
	border:2.1px solid red;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
