body{
	margin:3px;
	text-align: center; 
}

img{
	max-width:100%;
	max-height:100%;
}

#loader {

}

#navigationBar{
	display:none;
}

.fullBanner468x60Ad{
	border:0px solid grey;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
.leaderboard728x90Ad{
	border:0px solid grey;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
.mediumRectangle336x280Ad{
	border:0px solid grey;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
.square250x250Ad{
	border:0px solid grey;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
.skyscraper160x600Ad{
	border:0px solid grey;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
.billBoard970x250Ad{
	border:0px solid grey;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}



