body{
	margin:3px;
	text-align: center; 
}

img{
	max-width:100%;
	max-height:100%;
}

#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: url('omni/loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

#navigationBar{
	display:none;
}

#fullBanner468x60Ad{
	border:1px solid green;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
#leaderboard728x90Ad{
	border:1px solid green;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
#mediumRectangle336x280Ad{
	border:1px solid green;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
#square250x250Ad{
	border:1px solid green;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
#skyscraper160x600Ad{
	border:1px solid green;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}
#billBoard970x250Ad{
	border:1px solid green;
	width:;
	height:;
	display:inline-block;
    margin:0px;
}



