body,html{
	height: 100%;
	margin:3px;
	background:#022b3a;
	color:white;
	font-family: 'Montserrat', sans-serif;
}

img{
	max-width:100%;
	max-height:100%;
}

a{
	text-decoration:none;
	color:white;
}

.bg{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
